# Competition Dataset: Synthetic Credit Risk Data

Author: Jakub Pilcho켻, IAD 1 rok

### 游늭 Dataset Overview

The dataset consists of **10,000 records** across **16 columns**. Below is an overview of the key columns:

| Column             | Description |
|--------------------|-------------|
| `age`              | Age of the client (years) |
| `income`           | Annual income of the client (with "z켹oty" added as currency) |
| `children`         | Number of children the client has; 0 is encoded as "none" |
| `credit_history`   | Credit history status: "no history," "good history," "bad history" |
| `overdue_payments` | Status of overdue payments: "no overdue" or "overdue" |
| `active_loans`     | Number of active loans held by the client |
| `years_in_job`     | Number of years in current employment |
| `employment_type`  | Employment status (e.g., "self-employed," "permanent") |
| `owns_property`    | Whether the client owns property: "yes" or "no" |
| `assets_value`     | Value of assets owned (with "z켹oty" as currency) |
| `other_loans`      | Number of other loans held by the client |
| `education`        | Education level (e.g., "higher," "secondary") |
| `city`             | Size category of the city of residence (e.g., "small," "medium," "large") |
| `marital_status`   | Marital status of the client |
| `support_indicator`| An auxiliary metric introduced in data generation |
| `credit_risk`      | Target variable: 0 (low risk) or 1 (high risk) |

In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from typing import Union

In [ ]:
raw_data = pd.read_csv("data_atlas.csv")
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          10000 non-null  int64
 1   age                 10000 non-null  int64
 2   income              8000 non-null   object
 3   children            10000 non-null  object
 4   credit_history      8000 non-null   object
 5   overdue_payments    8000 non-null   object
 6   active_loans        10000 non-null  int64
 7   years_in_job        10000 non-null  int64
 8   employment_type     10000 non-null  object
 9   owns_property       8000 non-null   object
 10  assets_value        8000 non-null   object
 11  other_loans         10000 non-null  int64
 12  education           10000 non-null  object
 13  city                10000 non-null  object
 14  marital_status      10000 non-null  object
 15  support_indicator   10000 non-null  float64
 16  credit_risk         10000 non-null  int64
dtypes: float64(1), int64(6), object(10)
memory usage: 1.3+ MB

In [6]:
raw_data.head()

,Unnamed: 0,age,income,children,credit_history,overdue_payments,active_loans,years_in_job,employment_type,owns_property,assets_value,other_loans,education,city,marital_status,support_indicator,credit_risk
0,0,44,15689 z켹oty,brak,dobra historia,brak op칩콬nie켻,2,9,samozatrudnienie,NaN,NaN,1,wy콮sze,ma켹e,콮onaty/zam캧콮na,0.178131,0
1,1,38,18906 z켹oty,4 dzieci,brak historii,brak op칩콬nie켻,0,1,sta켹a,tak,62965 z켹oty,0,콑rednie,콑rednie,kawaler/panna,0.370480,0
2,2,46,16338 z켹oty,2 dzieci,NaN,NaN,2,4,brak,tak,124967 z켹oty,0,podstawowe,du콮e,콮onaty/zam캧콮na,0.712334,0
3,3,55,23276 z켹oty,3 dzieci,dobra historia,op칩콬nienia,2,10,sta켹a,tak,52147 z켹oty,1,콑rednie,ma켹e,kawaler/panna,0.665050,0
4,4,37,40000 z켹oty,1 dzieci,brak historii,NaN,1,9,okre콑lona,nie,33957 z켹oty,1,wy콮sze,ma켹e,kawaler/panna,0.607151,0

# Cleaning

In [31]:
# let's now make a copy of dataset for analytics purposes
an_data = raw_data.copy()

In [32]:
# first delete unnecessary columns
an_data.drop(["Unnamed: 0", "support_indicator "], axis=1)

,age,income,children,credit_history,overdue_payments,active_loans,years_in_job,employment_type,owns_property,assets_value,other_loans,education,city,marital_status,credit_risk
0,44,15689 z켹oty,brak,dobra historia,brak op칩콬nie켻,2,9,samozatrudnienie,NaN,NaN,1,wy콮sze,ma켹e,콮onaty/zam캧콮na,0
1,38,18906 z켹oty,4 dzieci,brak historii,brak op칩콬nie켻,0,1,sta켹a,tak,62965 z켹oty,0,콑rednie,콑rednie,kawaler/panna,0
2,46,16338 z켹oty,2 dzieci,NaN,NaN,2,4,brak,tak,124967 z켹oty,0,podstawowe,du콮e,콮onaty/zam캧콮na,0
3,55,23276 z켹oty,3 dzieci,dobra historia,op칩콬nienia,2,10,sta켹a,tak,52147 z켹oty,1,콑rednie,ma켹e,kawaler/panna,0
4,37,40000 z켹oty,1 dzieci,brak historii,NaN,1,9,okre콑lona,nie,33957 z켹oty,1,wy콮sze,ma켹e,kawaler/panna,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,53,26739 z켹oty,3 dzieci,dobra historia,brak op칩콬nie켻,1,14,sta켹a,tak,28518 z켹oty,1,콑rednie,ma켹e,콮onaty/zam캧콮na,0
9996,20,40000 z켹oty,1 dzieci,dobra historia,brak op칩콬nie켻,0,10,sta켹a,NaN,NaN,0,콑rednie,du콮e,콮onaty/zam캧콮na,0
9997,32,26613 z켹oty,2 dzieci,dobra historia,2,1,11,okre콑lona,nie,27826 z켹oty,0,podstawowe,du콮e,콮onaty/zam캧콮na,0
9998,44,40000 z켹oty,1 dzieci,brak historii,op칩콬nienia,0,8,okre콑lona,tak,62710 z켹oty,0,콑rednie,ma켹e,kawaler/panna,0
9999,46,9799 z켹oty,brak,dobra historia,op칩콬nienia,0,12,samozatrudnienie,NaN,NaN,0,콑rednie,콑rednie,kawaler/panna,0

In [ ]:
# now let's make income and assets continous variable
def income_map(income: str) -> Union[np.float64, np.nan]:
    if income is not np.nan:
        income = income.strip(" z켹oty")
        income = np.float64(income)
        return income
    else:
        return np.nan
    
an_data["income"] = an_data["income"].map(income_map)
an_data["assets_value"] = an_data["assets_value"].map(income_map)

In [ ]:
# now clear nans from both "income" and "assets_value"
# i will replace nans with mean value of their respective columns

an_data["income"].fillna(an_data["income"].mean())
an_data["income"].fillna(an_data["income"].mean())

np.float64(23598.62125)

## Demographic overview 
Let's look at basic info about participants in the study

In [ ]:
ax,fig = plt.subplots()